<!-- MT5 Disconnect Confirmation Modal -->
        <div class="confirm-overlay" v-if="showMT5DisconnectModal" @click.self="showMT5DisconnectModal = false">
            <div class="confirm-modal">
                <div class="confirm-icon logout">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                </div>
                <h3 class="confirm-title">Disconnect MT5 Account?</h3>
                <p class="confirm-message">Are you sure you want to disconnect from MT5? You will need to login again to reconnect your trading account.</p>
                <div class="confirm-actions">
                    <button class="btn" @click="showMT5DisconnectModal = false">Cancel</button>
                    <button class="btn btn-danger" @click="logoutMT5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                        Disconnect
                    </button>
                </div>
            </div>
        </div>
