{% extends "layout/base.html" %}

{% block content %}
    <!-- Modals -->
    {% include 'components/modals/channel_search.html' %}
    {% include 'components/modals/mt5_login.html' %}
    {% include 'components/modals/confirm.html' %}
    {% include 'components/modals/channel_delete.html' %}
    {% include 'components/modals/logout.html' %}
    {% include 'components/modals/mt5_disconnect.html' %}
    {% include 'components/modals/connection_error.html' %}
    
    <div class="app" :class="{ 'navbar-collapsed': navbarCollapsed }">
        <!-- Header -->
        {% include 'components/header.html' %}
        
        <!-- Left Sidebar Navbar -->
        {% include 'components/sidebar.html' %}
        
        <!-- Main Content -->
        <div class="main" :class="{ 'full-width': activeNavItem === 'settings' || activeNavItem === 'logs' || activeNavItem === 'history' || activeNavItem === 'stats' || activeNavItem === 'trades' || activeNavItem === 'signals' }">
            {% include 'sections/dashboard.html' %}
            {% include 'sections/trades.html' %}
            {% include 'sections/settings.html' %}
            {% include 'sections/logs.html' %}
            {% include 'sections/history.html' %}
            {% include 'sections/stats.html' %}
            {% include 'sections/signals.html' %}
            
            {% include 'sections/dashboard_sidebar.html' %}
        </div>
    </div>
    
    <!-- Notifications -->
    {% include 'components/notifications.html' %}
{% endblock %}
